/* styles/LandingPage.module.css */
.background {
    background-image: url('/assets/1.jpg'); /* Next.js static folder */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: rgba(231, 221, 221, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  